[general]
pidfile="burrow.pid"
stdout-logfile=""
access-control-allow-origin="*"

[logging]
filename=""
level="debug"

[client-profile.test]
client-id="burrow-test"
kafka-version="3.7.2"


[cluster.local]
class-name="kafka"
servers=[ "localhost:9092" ]
client-profile="test"
topic-refresh="120"
offset-refresh="30"

[consumer.local]
class-name="kafka"
cluster="local"
servers=[ "localhost:9092" ]
client-profile="test"
group-denylist="^(console-consumer-|python-kafka-consumer-|quick-).*$"
group-alowlist=""

[httpserver.default]
address=":8000"

[storage.default]
class-name="inmemory"
workers="20"
intervals="15"
expire-group="604800"
min-distance="1"
